bw/WT1_17_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/WT2_217_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/WT3_33_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/WT1_17_colon.bw filter=lfs diff=lfs merge=lfs -text
bw/WT1_17_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/KO1_17_colon.bw filter=lfs diff=lfs merge=lfs -text
bw/KO1_17_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/KO2_217_colon.bw filter=lfs diff=lfs merge=lfs -text
bw/KO3_33_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/KO1_17_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/KO2_217_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/KO3_33_colon.bw filter=lfs diff=lfs merge=lfs -text
bw/WT2_217_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/WT3_33_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/KO2_217_spl.bw filter=lfs diff=lfs merge=lfs -text
bw/KO3_33_SI.bw filter=lfs diff=lfs merge=lfs -text
bw/WT2_217_colon.bw filter=lfs diff=lfs merge=lfs -text
bw/WT3_33_colon.bw filter=lfs diff=lfs merge=lfs -text
